# Copy this file to .env
# One of TRACE, DEBUG, INFO, SUCCESS, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO

# Start in fullscreen mode? TRUE (default) or FALSE
AUTOFULLSCREEN=TRUE

# API DETAILS
API_URL=""
TEAM_ID=""
AUTH_TOKEN=""

# STREAM DETAILS
STREAM_IP=""
STREAM_USER=""
STREAM_PWD=""

# MOCKING FOR DEBUG PURPOSES
MOCK=FALSE       # MOCKS MOTORS
MOCK_CUBES=FALSE # MOCKS IMAGE RECOGNITION
