# Copy this file to .env
# One of TRACE, DEBUG, INFO (default), SUCCESS, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO

# Start in fullscreen mode? TRUE (default) or FALSE
AUTOFULLSCREEN=TRUE

# Motor speeds
SHAFTMOTOR_SPEED=0.00005
PLATFORMMOTOR_SPEED=0.00005

# API
URL="https://oawz3wjih1.execute-api.eu-central-1.amazonaws.com"
TEAM_ID="team12"
AUTH_TOKEN=""
